@import '../../../../../assets/scss/core/variables';
.table-body {
  background-color: #fff;
  display: block;
  width: 100%;
  min-width: 100%;
  border-bottom : 1px solid red;
  .table-row {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    height: 100%;
    min-height: 4rem;
    border-bottom : 1px solid white;
    .table-col {
      display: flex;
      flex-direction: column;
      flex-basis: 100%;
      flex: 1;
      justify-content: center;
      text-align: center;
    }
  }
}
