<section aria-label="this is section for table component">
  <div class="section-head">
    <span>Angular Table Library</span>
  </div>
  <div class="table-container">
    <table>
        <app-table-header [HeaderConfiguration]="columns"></app-table-header>
        <app-table-body [tableData]="data" [tableColumns]="columns"></app-table-body>
        <app-table-footer [NumberOfPages]="getTotalNumberOfPages()" (pageNumberChange)="onPageChangeEvent($event)"></app-table-footer>
    </table>
  </div>
</section>
