<section aria-label="this is section for table component">
  <div class="section-head">
    <span>Angular Table Library</span>
  </div>
  <div class="table-container">
    <table>
        <app-table-header [HeaderConfiguration]="columns"></app-table-header>
        <app-table-body [tableData]="data" [tableColumns]="columns"></app-table-body>
    </table>
    <!-- <div  class="table-header-container">
      <app-table-header></app-table-header>
    </div>
    <div class="table-body-container">
        <app-table-body></app-table-body>
    </div>
    <div class="table-footer-container">
      <app-table-footer></app-table-footer>
    </div> -->
  </div>
</section>
